<div class="row game">

    <div class="col-md-1"></div>
    <uib-accordion class="col-md-5" ng-repeat="team in $ctrl.game.info.teams">
      <div uib-accordion-group ng-repeat="p in $ctrl.game.info.participants | filter:{teamId: team.teamId}" class="game-row panel {{team.win ? 'panel-success' : 'panel-danger'}}">
            <uib-accordion-heading>
                <ism-lol-image type="championSquare" [id]="p.championId"></ism-lol-image>
                <span>{{::p.kills}} / {{::p.deaths}} / {{::p.assists}}</span>
                <span class="label label-primary pull-right">{{::p.goldSpent / 1000 | number:1}}k</span>
                <i class="glyphicon glyphicon-plus pull-right" tooltip="Add to your itemSets" ng-if="user" ng-click="$ctrl.createItemSet(user, p.championId, $ctrl.itemSet[p.participantId])"></i>
            </uib-accordion-heading>
            <div ng-repeat="block in $ctrl.itemSet[p.participantId].blocks" class="block-row row">
                <div class="col-md-3 col-md-offset-2">
                    <h5 class="text-center">{{block.type}}</h5>
                </div>
                <div class="col-md-5">
                    <ism-lol-image ng-repeat="item in block.items" type="item" [id]="item.id"></ism-lol-image>
                </div>
            </div>
        </div>
    </uib-accordion>

</div>
<p class="alert alert-warning text-center" style="width: 20%; margin: auto" ng-if="!user">
    You must be logged in order to download itemSets
</p>
