<div class="home">
    <h3>Search for a summoner</h3>

    <form class="input-group">
        <input type="text" id="summonerName" placeholder="Summoner name" ng-model="home.summonerName" class="form-control"/>
        <span class="input-group input-group-btn">
            <select id="region" ng-model="home.summonerRegion" ng-options="r for r in home.regions"
                    class="btn btn-default"></select>
        </span>
        <span class="input-group input-group-btn">
            <button class="btn btn-default" ng-click="home.searchSummoner(home.summonerName, home.summonerRegion)">Search</button>
        </span>
    </form>
    <h3>Search for a game</h3>

    <form class="input-group">
        <input type="text" id="gameId" placeholder="Game id" ng-model="home.gameId" class="form-control"/>
        <span class="input-group input-group-btn">
            <select id="gameRegion" ng-model="home.gameRegion" ng-options="r for r in home.regions"
                    class="btn btn-default"></select>
        </span>
        <span class="input-group input-group-btn">
            <button class="btn btn-default" ng-click="home.searchGame(home.gameId, home.gameRegion)">Search</button>
        </span>
    </form>
</div>

