<div class="row summoner-header">
    <div class="col-xs-3">
        <img src="https://ddragon.leagueoflegends.com/cdn/5.16.1/img/profileicon/588.png" class="summoner-icon">
    </div>
    <div class="col-xs-6 text-center">
        <h2>{{::summoner.name}} ({{::summoner.region}})</h2>
    </div>
    <div class="col-xs-3">
        <div class="pull-right user-cartouche">
            <img src="https://ddragon.leagueoflegends.com/cdn/5.16.1/img/profileicon/588.png">
            <label>Kabiro</label>
        </div>
    </div>
</div>
<div class="row summoner-body">
    <div class="col-xs-8">
        <h3 class="text-center">Builds</h3>
        <accordion>
            <accordion-group ng-repeat="build in builds" class="panel-info">
                <accordion-heading>
                    {{::build.itemSet.title}}
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.map}} map
                    </span>
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.mode}} mode
                    </span>
                    <span ng-if="build.champions.length" class="label label-primary pull-right">
                        {{::build.champions.length}} champion(s)
                    </span>
                    <span ng-if="!build.champions.length" class="label label-primary pull-right">
                        any champion
                    </span>
                </accordion-heading>
                <div ng-repeat="block in build.itemSet.blocks" class="row block-row">
                    <h5 class="text-center">{{block.type}}</h5>
                    <lol-image ng-repeat="item in block.items" type="'item'" id="item.id" width="'40px'"
                               height="'40px'"></lol-image>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-xs-4">
        <h3 class="text-center">Recent games</h3>

        <div ng-repeat="game in recentGames | orderBy:'createDate':true" ng-click="itemsSetByGame(game.gameId)"
             class="game-row">
            <lol-image type="'championSquare'" id="game.championId"></lol-image>
            <lol-image type="'championSquare'" id="p.championId"
                       ng-repeat="p in game.fellowPlayers | filter:{teamId: game.teamId}"></lol-image>

            <span>VS</span>
            <lol-image type="'championSquare'" id="p.championId"
                       ng-repeat="p in game.fellowPlayers | filter:{teamId: '!' + game.teamId}"></lol-image>

        </div>
    </div>
</div>
