<div class="row summoner-body">
    <div class="col-xs-8">
        <h4 class="pull-right" popover-template="'template/popovers/downloadHelp.html'" popover-title="Download" popover-placement="bottom" >
            Download your builds
            <i class="glyphicon glyphicon-download-alt"></i>
        </h4>
        <h3 class="text-center">Builds</h3>
        <accordion>
            <accordion-group ng-repeat="build in builds" class="panel-info">
                <accordion-heading>
                    {{::build.itemSet.title}}
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.map}} map
                    </span>
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.mode}} mode
                    </span>
                    <span ng-if="build.champions.length" class="label label-primary pull-right">
                        {{::build.champions.length}} champion(s)
                    </span>
                    <span ng-if="!build.champions.length" class="label label-primary pull-right">
                        any champion
                    </span>
                    <i class="glyphicon glyphicon-heart-empty"
                       ng-if="user && user.name !== summoner.name && userFollowedBuilds.indexOf(build.id) < 0"
                       ng-click="followBuild(build.id)"></i>
                    <i class="glyphicon glyphicon-heart"
                       ng-if="user && user.name !== summoner.name && userFollowedBuilds.indexOf(build.id) >= 0"
                       ng-click="unfollowBuild(build.id)"></i>
                </accordion-heading>
                <div ng-repeat="block in build.itemSet.blocks" class="row block-row">
                    <h5 class="text-center">{{block.type}}</h5>
                    <lol-image ng-repeat="item in block.items" type="'item'" id="item.id"></lol-image>
                </div>
            </accordion-group>
        </accordion>
        <h3 class="text-center" ng-if="followedBuilds.length > 0">Followed builds</h3>
        <accordion>
            <accordion-group ng-repeat="build in followedBuilds" class="panel-info">
                <accordion-heading>
                    {{::build.itemSet.title}}
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.map}} map
                    </span>
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.mode}} mode
                    </span>
                    <span ng-if="build.champions.length" class="label label-primary pull-right">
                        {{::build.champions.length}} champion(s)
                    </span>
                    <span ng-if="!build.champions.length" class="label label-primary pull-right">
                        any champion
                    </span>
                    <i class="glyphicon glyphicon-heart-empty" ng-if="user && userFollowedBuilds.indexOf(build.id) < 0"
                       ng-click="followBuild(build.id)"></i>
                    <i class="glyphicon glyphicon-heart" ng-if="user && userFollowedBuilds.indexOf(build.id) >= 0"
                       ng-click="unfollowBuild(build.id)"></i>
                </accordion-heading>
                <div ng-repeat="block in build.itemSet.blocks" class="row block-row">
                    <h5 class="text-center">{{block.type}}</h5>
                    <lol-image ng-repeat="item in block.items" type="'item'" id="item.id"></lol-image>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-xs-4">
        <h3 class="text-center">Navigate recent games</h3>

        <div ng-repeat="game in recentGames | orderBy:'createDate':true" class="game-row"
             ng-class="game.stats.win ? 'victory' : 'defeat'">
            <lol-image type="'championSquare'" id="game.championId"></lol-image>
            <lol-image type="'championSquare'" id="p.championId"
                       ng-repeat="p in game.fellowPlayers | filter:{teamId: game.teamId}"></lol-image>

            <span>VS</span>
            <lol-image type="'championSquare'" id="p.championId"
                       ng-repeat="p in game.fellowPlayers | filter:{teamId: '!' + game.teamId}"></lol-image>
        </div>
    </div>
</div>
