<div class="row summoner">
    <div class="col-xs-8">
        <h4 class="pull-right" uib-popover-template="'template/popovers/downloadHelp.html'" popover-title="Download" popover-placement="bottom" >
            Download your builds
            <i class="glyphicon glyphicon-download-alt"></i>
        </h4>
        <h3 class="text-center">Builds</h3>
        <uib-accordion>
            <div uib-accordion-group ng-repeat="build in summoner.builds" class="panel-info">
                <uib-accordion-heading>
                    {{::build.itemSet.title}}
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.map}} map
                    </span>
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.mode}} mode
                    </span>
                    <span ng-if="build.champions.length" class="label label-primary pull-right">
                        {{::build.champions.length}} champion(s)
                    </span>
                    <span ng-if="!build.champions.length" class="label label-primary pull-right">
                        any champion
                    </span>
                    <i class="glyphicon glyphicon-pencil"
                       ng-if="user && user.name === summoner.summoner.name"
                       ng-click="summoner.edit(build.id)"></i>
                    <i class="glyphicon glyphicon-trash"
                       ng-if="user && user.name === summoner.summoner.name"
                       ng-click="summoner.delete(build.id)"></i>
                    <i class="glyphicon glyphicon-heart-empty"
                       ng-if="user && user.name !== summoner.summoner.name && summoner.userFollowedBuilds.indexOf(build.id) < 0"
                       ng-click="summoner.followBuild(build.id)"></i>
                    <i class="glyphicon glyphicon-heart"
                       ng-if="user && user.name !== summoner.summoner.name && summoner.userFollowedBuilds.indexOf(build.id) >= 0"
                       ng-click="summoner.unfollowBuild(build.id)"></i>
                </uib-accordion-heading>
                <div ng-repeat="block in build.itemSet.blocks" class="row block-row">
                    <div class="col-md-3 col-md-offset-2">
                        <h5 class="text-center">{{block.type}}</h5>
                    </div>
                    <div class="col-md-5">
                        <lol-image ng-repeat="item in block.items" type="'item'" id="item.id"></lol-image>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <h3 class="text-center" ng-if="followedBuilds.length > 0">Followed builds</h3>
        <uib-accordion>
            <div uib-accordion-group ng-repeat="build in summoner.followedBuilds" class="panel-info">
                <uib-accordion-heading>
                    {{::build.itemSet.title}}
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.map}} map
                    </span>
                    <span class="label label-primary pull-right">
                        {{::build.itemSet.mode}} mode
                    </span>
                    <span ng-if="build.champions.length" class="label label-primary pull-right">
                        {{::build.champions.length}} champion(s)
                    </span>
                    <span ng-if="!build.champions.length" class="label label-primary pull-right">
                        any champion
                    </span>
                    <i class="glyphicon glyphicon-heart-empty" ng-if="user && userFollowedBuilds.indexOf(build.id) < 0"
                       ng-click="followBuild(build.id)"></i>
                    <i class="glyphicon glyphicon-heart" ng-if="user && userFollowedBuilds.indexOf(build.id) >= 0"
                       ng-click="unfollowBuild(build.id)"></i>
                </uib-accordion-heading>
                <div ng-repeat="block in build.itemSet.blocks" class="row block-row">
                    <h5 class="text-center">{{block.type}}</h5>
                    <lol-image ng-repeat="item in block.items" type="'item'" id="item.id"></lol-image>
                </div>
            </div>
        </uib-accordion>
        <p ng-if="summoner.builds.length == 0 && summoner.followedBuilds.length == 0" class="alert alert-warning">
            It looks like you don't have any builds yet. Why not create one from a game? Or perhaps you could follow a build from another summoner?
        </p>
    </div>
    <div class="col-xs-4">
        <h3 class="text-center">Navigate recent games</h3>

        <div ng-repeat="game in summoner.recentGames | orderBy:'timestamp':true" class="game-row"
             ui-sref="game({gameId: game.gameId, gameRegion: game.platformId})">
            <lol-image type="'championSquare'" id="game.champion"></lol-image>
            {{game.timestamp | date:'medium' }}
        </div>
    </div>
</div>
