a[ui-sref] {
    cursor: pointer;
}

.game-row {
    border: solid 1px #EEE;
    padding: 15px;
    height: 65px;
}

.game-row img {
    width: 35px;
}

.summoner-header {
    background-color: #122b40;
    color: white;
}

.summoner-icon {
    height: 70px;
}

.user-cartouche {
    margin: 17px 0px;
}

.user-cartouche img {
    height: 35px;
}