a[ui-sref] {
    cursor: pointer;
    color: white;
}

.navbar {
    background-color: #122b40;
    color: white;
}

.user-cartouche {
    padding: 17px 0;
}

.user-cartouche img {
    height: 35px;
}
