a[ui-sref] {
    cursor: pointer;
    color: white;
}

.navbar {
    background-color: #122b40;
    color: white;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #122b40;
    color: white;
}

.footer p {
    width: 80%;
    margin: auto;
    text-align: center;
}

.user-cartouche {
    padding: 17px 0;
}

.user-cartouche img {
    height: 35px;
}
