.summoner .game-row {
    border: solid 1px gray;
    padding: 15px;
    border-radius: 6px;
    width: 420px;
    margin:auto;
}

.summoner .game-row img {
    width: 35px;
}

.summoner accordion .label {
    margin-left: 10px;
}

.summoner .block-row {
    margin: auto;
}

.summoner .block-row img {
    height: 55px;
}

.summoner .victory {
    border-left-color: green;
    border-left-width: 6px;
}

.summoner .defeat {
    border-left-color: red;
    border-left-width: 6px;
}

.summoner .command-line {
    font-size: 0.7em;
    white-space: nowrap;
    width: 100%;
}