<!DOCTYPE html>
<html>
<head>
    <title>ItemSetManager</title>
</head>
<body>
<div class="wrapper">
<div class="navbar" ng-controller="NavigationController as nav">
    <div class="col-xs-3 navbar-header">
        <a ui-sref="home" class="navbar-brand">ItemSetManager</a>
    </div>
    <div class="col-xs-6 text-center">
        <h3>{{header.title}}</h3>
    </div>
    <div class="col-xs-3">
        <div class="pull-right user-cartouche" ng-if="user">
            <ism-lol-image type="profile" [id]="user.summonerIcon" class="summoner-icon"></ism-lol-image>
            <a ui-sref="summoner({summoner: user.name, region: user.region})">{{user.name}}</a>
            <i class="glyphicon glyphicon-log-out clickable" ng-click="nav.logout()"></i>
        </div>
        <form class="pull-right navbar-form input-group" ng-if="!user">
            <input type="text" class="form-control" ng-model="nav.userName" placeholder="login"/>
            <select ng-model="nav.userRegion" ng-options="r for r in nav.regions"
                    class="form-control input-group-addon"></select>
            <button class="btn btn-default" ng-click="nav.login(nav.userName, nav.userRegion)"><i
                    class="glyphicon glyphicon-log-in"></i></button>
        </form>
    </div>
</div>
<div ui-view class="container-fluid"></div>
    <div class="push"></div>
</div>
<div class="footer">
    <a href="https://github.com/Kabiro/ItemSetManager"><img src="images/GitHub-Mark-Light-32px.png" class="pull-right" /></a>
    <p>
        ItemSetManager isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone
        officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks
        or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    </p>
</div>
</body>
</html>