<!DOCTYPE html>
<html>
<head>
    <title>ItemSetManager</title>
    <!-- build:css css/vendors.min.css -->
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'>
    <!-- endbuild -->
    <!-- build:css css/combined.min.css -->
    <link rel="stylesheet" media="screen" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="ItemSetManager">
<div class="row navbar summoner-header" ng-controller="mainCtrl">
    <div class="col-xs-3 navbar-header">
        <a ui-sref="login" class="navbar-brand">ItemSetManager</a>
    </div>
    <div class="col-xs-6 text-center">
        <h3>{{header.title}}</h3>
    </div>
    <div class="col-xs-3">
        <div class="pull-right user-cartouche" ng-if="user">
            <lol-image type="'profile'" id="user.summonerIcon" class="summoner-icon"></lol-image>
            <a ui-sref="summoner({summoner: user.name, region: user.region})">{{user.name}}</a>
            <i class="glyphicon glyphicon-log-out" ng-click="logout()"></i>
        </div>
        <div class="pull-right user-cartouche" ng-if="!user">
            <i class="glyphicon glyphicon-log-in" ui-sref="login"></i>
        </div>
    </div>
</div>
<div ui-view class="container-fluid"></div>

<!-- VENDORS -->
<!-- build:js js/vendors.min.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<!-- endbuild -->

<!-- CUSTOM -->
<!-- build:js js/combined.min.js -->
<script src="scripts/app.js"></script>

<script src="scripts/directives/lolImage.js"></script>

<script src="scripts/factories/utils.js"></script>

<script src="scripts/ctrl/summonerCtrl.js"></script>
<script src="scripts/ctrl/itemSetCtrl.js"></script>
<script src="scripts/ctrl/loginCtrl.js"></script>
<script src="scripts/ctrl/mainCtrl.js"></script>

<script src="scripts/srv/championsSrv.js"></script>
<script src="scripts/srv/gameSrv.js"></script>
<script src="scripts/srv/itemsSetSrv.js"></script>
<script src="scripts/srv/loginSrv.js"></script>
<script src="scripts/srv/summonerSrv.js"></script>

<!-- endbuild -->

</body>
</html>