<i class="glyphicon glyphicon-copy pull-right" ng-click="copyToClipboard('.windows')"></i>
<span class="label label-info">Command line for windows</span>
<input type="text" class="command-line windows" value="curl https://itemsetmanager.herokuapp.com/api/sets/v1/{{summoner.region}}/{{summoner.name}}/zip > /Applications/League\ of\ Legends.app/Contents/LoL/Config/Config.zip && unzip -o /Applications/League\ of\ Legends.app/Contents/LoL/Config/Config.zip -d /Applications/League\ of\ Legends.app/Contents/LoL/Config/"/>
<i class="glyphicon glyphicon-copy pull-right" ng-click="copyToClipboard('.mac')"></i>
<span class="label label-info">Command line for mac</span>
<input type="text" class="command-line mac" value="curl https://itemsetmanager.herokuapp.com/api/sets/v1/{{summoner.region}}/{{summoner.name}}/zip > /Applications/League\ of\ Legends.app/Contents/LoL/Config/Config.zip && unzip -o /Applications/League\ of\ Legends.app/Contents/LoL/Config/Config.zip -d /Applications/League\ of\ Legends.app/Contents/LoL/Config/"/>
<a class="glyphicon glyphicon-download-alt pull-right" href="/api/sets/v1/{{summoner.region}}/{{summoner.name}}/zip"></a>
<span class="label label-info">Download zip</span>